body{
    background-color: rgb(255, 215, 140);
    background-size: cover;
}
.a-nav{
    border: 3px solid rgb(0, 0, 0);
    font-size: 35px;
    margin-top: 10px;
   background-color:rgb(29, 29, 29);
}
.a-hd{
color: rgb(255, 126, 5);
text-decoration: none;
padding-top: 50px;
}
h1{
font-family: "Lobster", cursive;
font-size: 45px;
}
aside{
    background-color: rgb(189, 189, 189);
    border-radius: 12px;
    width: 400px;
    height: 510px;
    float: right;
    padding-left: 17px;
}
h3{
    font-family: 'Franklin Gothic Medium';
    font-size: 25px;
}
h2{
    font-family: Verdana;
    color:rgb(255, 115, 0);
    font-size: 35px;
}
#img.glav img{
    border: 2px solid black;
    border-radius: 15px;
}
p{
    font-size: 23px;
}
footer{
    border: 3px solid black;
    font-size: 35px;
}
.a-ft{
    color:black;
}
.Kenji{
    float: left;
}
hr{
    font-size: 5px;
}